main {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Стили слайдера */
.slider
{
    position: relative;

    overflow: hidden;

    height: 500px;

    background-color: #ccc;
    box-shadow: 0 0 6px 2px;
}

.slider .buttons
{
    list-style: none;
}

.slider-item
{
    position: absolute;
    background-position: center;

    width: 100%;
    height: 100%;

    transition: .2s;

    background-color: #fbb;
    background-size: cover;
}

.slider-item-container
{
    position: relative;

    max-width: 1000px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.slider-navigation-button
{
    position: absolute;

    width: 100px;
    height: 100%;

    transition: .2s;
}

.slider:hover .slider-navigation-button
{
    z-index: 5;

    background-color: rgba(0,0,0,.2);
}

.slider-navigation-button.next
{
    right: 0;
}

.slider-left
{
    transform: translate(-100%,0);
}

.slider-center
{
    z-index: 3;

    transform: translate(0,0);
}

.slider-right
{
    transform: translate(100%,0);
}


.slider-fix
{
    z-index: 2;
}

.slider-buttons
{
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: calc(50% - 100px);

    display: flex;
    
    width: 200px;
    padding: 0;
    
    list-style: none;
    
    justify-content: space-around;
}

.slider:hover .slider-button
{
    background-color: rgba(0,0,0,.4);
}

.slider-button
{
    width: 20px;
    height: 20px;
    
    transition: .2s;
    
    border-radius: 20px;
}

.slider:hover .slider-button-active
{
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 0 3px white;
}

.slider-item-container p
{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    font-size: 22px;
    margin: auto 0;
}
/* Конец стилей слайдера */


.main-headline {
    min-height: 100px;
    padding: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
}
.main-headline-logo {
    height: 100px;
    position:absolute;
    left: 10px;
    top: 10px;

}

.main-headline-text {

    color: #0b1d57;
    max-width: 70%;
    margin: auto;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container-header {
    text-align: center;
    margin-top: 100px;
}

.main-illustration {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-template-rows: minmax(200px, auto);
    gap: 20px;
}
.main-illustration p {
    margin: 10px;
}
.main-illustration p>a {
    font-weight: bold;
}

.main-container-image {
    background-position: center;
    background-size: cover;
}

.main-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    gap: 25px;
    
}

.main-list-element {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: #0b1d57;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #0b1d57;
    color: #fff;
    padding:30px;
}