body
{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
main
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.hidden{
    display: none;
}

/*Стили слвайдера*/

.header-title
{
    font-size: 50px;

    max-width: 1000px;

    text-align: left;

    color: white;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.header-paragraph
{
    font-size: 30px;

    color: white;
}

.order-button
{
    font-weight: 900;

    display: inline-block;

    margin-top: 40px;
    padding: 20px;

    text-decoration: none;

    box-shadow: 0 0 3px 0;
}
.order-button:hover
{
    box-shadow: 0 0 5px -2px black;
}

.blue-button
{
    color: white;
    background-color: #227;
}
.blue-button:hover
{
    background-color: #449;
}

.green-button
{
    color: white;
    background-color: #272;
}
.green-button:hover
{
    background-color: #494;
}

.red-button
{
    color: white;
    background-color: #722;
}
.red-button:hover
{
    background-color: #944;
}



.slider
{
    position: relative;

    overflow: hidden;

    height: 500px;

    background-color: #ccc;
    box-shadow: 0 0 6px 2px;
}
.slider ul
{
    list-style: none;
}
.slider-item
{
    position: absolute;

    width: 100%;
    height: 100%;

    transition: .2s;

    background-color: #fbb;
    /*background-size: cover;*/
}

.slider-item-container
{
    position: relative;

    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
}
.slider-navigation-button
{
    position: absolute;

    width: 100px;
    height: 100%;

    transition: .2s;
}

.slider:hover .slider-navigation-button
{
    z-index: 5;

    background-color: rgba(0,0,0,.2);
}

.slider-navigation-button.next
{
    right: 0;
}

.slider-left
{
    transform: translate(-100%,0);
}
.slider-center
{
    z-index: 3;

    transform: translate(0,0);
}
.slider-right
{
    transform: translate(100%,0);
}

.slider-item:first-child
{
    background-color: #bfb;
}
.slider-logo
{
    position: absolute;
    top: 0;
    right: 100px;

    height: 380px;
}
.slider-item:nth-child(2)
{
    background-color: #fbb;
}
.slider-item:nth-child(3)
{
    background-color: #bbf;
}
.slider-fix
{
    z-index: 2;
}
.slider-buttons
{
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: calc(50% - 100px);

    display: flex;

    width: 200px;
    padding: 0;

    list-style: none;

    justify-content: space-around;
}
.slider:hover .slider-button
{
    background-color: rgba(0,0,0,.4);
}
.slider-button
{
    width: 20px;
    height: 20px;

    transition: .2s;

    border-radius: 20px;
}
.slider:hover .slider-button-active
{
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 0 3px white;
}

/*Стили преймуществ*/

.advantages {
    margin-bottom: 80px;
}

.advantages-title {
    font-size:70px;
    text-align: center;
}


.advantages-list
{
    display: flex;

    list-style: none;

    justify-content: space-around;
    flex-wrap: wrap;

    padding:0;
    position: relative;
}
.advantages-list-item{
    text-align: center;
    width: 250px;
    -webkit-transition: all 1s cubic-bezier(0, .80, .30, 1);
    -moz-transition: all 1s cubic-bezier(0, .80, .30, 1);
}

.advantages-list-item>p{
    display: none;
}
.advantages-list-item>img{
    width: 100%;
}
.advantages-list-item>h2{
    font-size: 30px;
}

.advantages-list-item-active{
    width:100%;
    display:flex;
    flex-direction: column;
    height:500px;
    flex-wrap: wrap;
    order:-1;
}
.advantages-list-item-active>p{
    display:block;
    transition: inherit;
    font-size: 30px;
    word-wrap: break-word;
}
.advantages-list-item-active>img{
    width:50%;
    order: -1;
}
.advantages-list-item-active>h2{
    font-size: 60px;
    transition: inherit;

}

/*Стили примеров*/

.examples{
    margin-bottom: 80px;
}


.examples-header{
    text-align: center;
    font-size: 70px;
}

.examples-list{
    display:flex;
    justify-content: space-around;
}

.examples-list-item {
    border: 2px solid black;
    width: 350px;
    height: 200px;
    background-size: cover;
}
.examples-list-item:nth-child(1) {
    background-image: url(../img/example1.png)
}
.examples-list-item:nth-child(2) {
    background-image: url(../img/example2.png)
}
.examples-list-item>a{
    display: block;
    width:100%;
    height: 100%;
}

/*Стили контактов*/

.contacts{
    text-align: center;
}

.contacts-header{
    font-size:70px;
}

.contacts-paragraph{
    font-size: 26px;
}

.contacts-button{
    margin-bottom: 80px;
    padding: 40px 60px;
    font-size: 40px;
    color: white;
    background-color: #484;
}
.contacts-button:hover{
    background-color: #373;
}

.contacts-media-buttons{
    display: flex;
    justify-content: space-around;
}

.contacts-media-buttons>a{
    display: block;
    width: 120px;
    height: 120px;
}
.contacts-media-buttons>a>img{
    width:100%;
    height: 100%;
}

/*Стили футера*/

footer{
    margin-top: 100px;
    background-color: #22334f;
    padding: 30px;
    color:white;
    text-align: center;
}

/*Стили поп-апа*/

.overlay{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5
}
.popup{
    z-index: 6;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 600px;
    background-color: white;
}